# Github setup
GIT_USER=Your_User_Name
GIT_EMAIL=Your_Email
GIT_KEY=You_Git_Key

# PostgreSQL DB Setup
POSTGRES_PASSWORD=Your_Postgre_Password
POSTGRES_USER=Your_Postgre_Username 
POSTGRES_DB=Your_Postgre_DB

# MariaDB Setup
MARIADB_ROOT_PASSWORD=Your_MariaDB_Password
